{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleQuote": false,
  "printWidth": 100
}